<div class="{{classes}}" id="{{id}}">
    <div class="basket-product__img-container">
        {{{img}}}
    </div>

    {{quantity}} × {{name}} <span class="basket-product__price">{{price}} ₽</span>
</div>
