<div class="{{classes}}" id="{{id}}">
    <div class="basket-product__img-container">
        {{{img}}}
    </div>

    <div class="basket-product__info-container">
        <div>{{name}} × {{quantity}}</div>
        <div class="basket-product__price">{{price}}₽</div>
    </div>
</div>
