<div class="{{classes}}">
    <img class="product-card__img" src={{imgSrc}}>
    <div class="product-card__name">{{productName}}</div>
    <p class="product-card__description">{{productPrice}}₽</p>
    {{{button}}}
</div>
