<div class="product-card {{classes}}">
    <div class="product-card__img-container">
        <img class="product-card__img" src={{imgSrc}}>
    </div>
    <h3 class="product-card__title">{{productName}}</h3>
    <div class="product-card__flex-container">
        <p class="product-card__description">{{productDescription}} RUB</p>
        {{{button}}}
    </div>
</div>
