<div class="product-list__product-card {{classes}}">
    <div class="product-card__container">
        <div class="product-card__image-container">
            <img class="product-card__img" src={{imgSrc}}>
        </div>
        <span class="product-card__name">{{productName}}</span>
        <div class="product-card__info">
            <span class="product-card__description">{{productPrice}}₽</span>
            {{{button}}}
        </div>
    </div>
</div>
