<div class="{{classes}}">
    <div class="order__buttons">
        {{{profileButton}}}
        {{{supportButton}}}
    </div>

    <h3 class="order__title">
        {{title}}
    </h3>

    {{{placeTimeCard}}}
    {{{basket}}}

    <div class="order__total">
        <div>Итого:</div>
        <div class="order__total-sum">
            ₽ <span id="total">{{total}}</span>
        </div>
    </div>

    <div><hr></div>

    <div class="order__footer">
        {{{personInput}}}
        {{{checkout}}}
    </div>

</div>
