<div class="{{classes}}">

    <h3 class="order__title">
        {{Title}}
    </h3>
    <div class="order__restaurant-href" style="display: none"></div>

    {{{PlaceTimeCard}}}
    {{{Basket}}}

    <div class="order__total">
        <div>Итого:</div>
        <div class="order__total-sum">
            ₽ <span id="total">{{Total}}</span>
        </div>
    </div>

    <div><hr></div>

    <div class="order__footer">
        {{{PersonInput}}}
        {{{Checkout}}}
    </div>

</div>
