<div class="{{classes}}">
    {{{profileButton}}}
    <div class="order__title" style="grid-area: title">
        {{title}}
    </div>
    {{{placeTimeCard}}}
    {{{basket}}}
    {{{total}}}
    {{{persons}}}
    {{{checkout}}}
</div>