<div class="{{classes}}">
    {{{profileButton}}}
    <div class="order__title" style="grid-area: title">
        {{title}}
    </div>
    {{{placeTimeCard}}}
    {{{basket}}}

    <div class="order__total-text" style="grid-area: total-text">
        Total:
    </div>

    <div class="order__total" style="grid-area: total">
        RUB {{total}}
    </div>

    {{{persons}}}
    {{{checkout}}}
</div>