<main class="main-view">
    <div class="main-view__info-bar">
        <h2 class="main-view__label">Акции</h2>
    </div>
    {{{actionBar}}}

    {{#if RecommendBar}}
        <div class="main-view__info-bar">
            <h2 class="main-view__label">Рекомендации</h2>
        </div>
        {{{RecommendBar}}}
    {{/if}}

    <div class="main-view__info-bar">
        <h2 class="main-view__label">Категории</h2>
        <div class="message">{{message}}</div>
    </div>
    {{{categoryBar}}}
    {{{restaurantList}}}
</main>
