
<div class="main-view">
    {{{header}}}
    {{{actionBar}}}
    <div class="main-view__label" style="grid-area: label">
        {{label}}
    </div>
    {{{selectTimeButton}}}
    {{{categoryBar}}}
    {{{order}}}
    {{{restaurantList}}}
</div>
