<main class="main-view">
    {{{actionBar}}}
    <div class="main-view__info-bar">
        <h2 class="main-view__label">{{label}}</h2>
        <div class="message">{{message}}</div>
        {{{selectTimeButton}}}
    </div>
    {{{categoryBar}}}
    {{{restaurantList}}}
</main>
