<main class="main-view__main-area">
    <div class="main-view__belt">
        <div class="main-view__scrolled-area">
            {{{actionBar}}}
            <div class="main-view__info-bar">
                <h2 class="main-view__label">{{label}}</h2>
                {{{selectTimeButton}}}
            </div>
            {{{categoryBar}}}
            {{{restaurantList}}}
        </div>
    </div>
</main>
