<div class="main-view">
    {{{header}}}
    {{{order}}}
    <main class="main-view__main-area">
        <div class="main-view__scroll-hider">
            <div class="main-view__scrolled-area">
                <div class="main-view__main-grid">
                    {{{actionBar}}}
                    <div class="main-view__label" style="grid-area: label">
                        {{label}}
                    </div>
                    {{{selectTimeButton}}}
                    {{{categoryBar}}}

                    {{{restaurantList}}}
                </div>
            </div>
        </div>
    </main>
</div>
