<div class="{{classes}}">
    <div>Впервые у нас?</div>
    <div class="signup-field__title">Зарегистрироваться</div>
    <label for="signup-field__fname-input">Имя</label>
    {{{fNameInput}}}
    {{{firstNameErrorField}}}
    <label for="signup-field__lname-input">Фамилия</label>
    {{{lNameInput}}}
    {{{lastNameErrorField}}}
    <label for="signup-field__phone-input">Телефон</label>
    {{{phoneInput}}}
    {{{phoneErrorField}}}
    <label for="signup-field__password-input1">Пароль</label>
    {{{passwordInput1}}}
    {{{password1ErrorField}}}
    <label for="signup-field__password-input2">Подтвердите пароль</label>
    {{{passwordInput2}}}
    {{{password2ErrorField}}}
    {{{submitButton}}}
    {{{generalErrorField}}}
</div>
