<div class="{{classes}}">
    <div>First time on site?</div>
    <div class="signup-field__title">Signup</div>
    <label for="signup-field__fname-input">First name</label>
    {{{fNameInput}}}
    {{{firstNameErrorField}}}
    <label for="signup-field__lname-input">Last name:</label>
    {{{lNameInput}}}
    {{{lastNameErrorField}}}
    <label for="signup-field__phone-input">Phone</label>
    {{{phoneInput}}}
    {{{phoneErrorField}}}
    <label for="signup-field__password-input1">Password</label>
    {{{passwordInput1}}}
    {{{password1ErrorField}}}
    <label for="signup-field__password-input2">Confirm password</label>
    {{{passwordInput2}}}
    {{{password2ErrorField}}}
    {{{submitButton}}}
    {{{generalErrorField}}}
</div>
