<div class="{{classes}} signup-field">
    <div class="signup-field__title">Регистрация</div>
    {{{fNameInput}}}
    {{{lNameInput}}}
    {{{phoneInput}}}
    {{{passwordInput1}}}
    {{{passwordInput2}}}
    {{{submitButton}}}
    {{{generalErrorField}}}
</div>
