<div class="{{classes}}">
    <div>First time on site?</div>
    <div class="signup-field__title">Signup</div>
    <label for="signup-field__email-input">Email:</label>
    {{{emailInput}}}
    <label for="signup-field__phone-input">Phone:</label>
    {{{phoneInput}}}
    <label for="signup-field__password-input">Password:</label>
    {{{passwordInput}}}
    {{{submitButton}}}
</div>
