<div class="add-product-by-restaurant">
    <h3 class="add-product-by-restaurant__title">Add your product 🌭</h3>
    <label class="add-product-by-restaurant__label">Name</label>
    {{{nameInput}}}
    <label class="add-product-by-restaurant__label">Description</label>
    {{{descriptionInput}}}
    <label class="add-product-by-restaurant__label">Cost</label>
    {{{costInput}}}
    <label class="add-product-by-restaurant__label">Category</label>
    {{{categoryInput}}}
    <label class="add-product-by-restaurant__label">Image</label>
    {{{imgInput}}}
    {{{submitButton}}}
</div>