<div class="{{classes}}">
    <div class="profile-text-area__main-title">Profile</div>

    <div class="profile-text-area__input-container">
        <div class="profile-text-area__title">Change phone</div>
        <div class="profile-text-area__row">
            {{{PhoneInput}}}{{{PhoneSubmitButton}}}
        </div>

        <div class="profile-text-area__title">Change email</div>
        <div class="profile-text-area__row">
            {{{EmailInput}}}{{{EmailSubmitButton}}}
        </div>

        <div class="profile-text-area__title">Change password</div>
        <div class="profile-text-area__row">
            <div class="profile-text-area__column">
                {{{PasswordInput}}}
                {{{NewPasswordInput}}}
            </div>
            {{{PasswordSubmitButton}}}
        </div>
    </div>
</div>