<div class="{{classes}}">
    <div class="profile-text-area__main-title">Edit profile</div>

    <div class="profile-text-area__input-container">
        <div class="profile-text-area__title">Phone</div>
        <div class="profile-text-area__row">
            {{{PhoneInput}}}
        </div>

        <div class="profile-text-area__title">Email</div>
        <div class="profile-text-area__row">
            {{{EmailInput}}}
        </div>

        <div class="profile-text-area__title">Password</div>
        <div class="profile-text-area__row">
            <div class="profile-text-area__column">
                {{{PasswordInput}}}
                {{{NewPasswordInput}}}
            </div>
            {{{SubmitButton}}}
        </div>
    </div>
</div>