<div class="{{classes}}">
    <div class="profile-text-area__main-title">Edit profile</div>

    <div class="profile-text-area__input-container">
        <div class="profile-text-area__title">First name</div>
        <div class="profile-text-area__row">
            {{{fNameInput}}}
        </div>
        <div class="profile-text-area__title">Last name</div>
        <div class="profile-text-area__row">
            {{{lNameInput}}}
        </div>
        <div class="profile-text-area__title">Email</div>
        <div class="profile-text-area__row">
            {{{EmailInput}}}
        </div>
            {{{SubmitButton}}}
        </div>
    </div>
</div>