<div class="{{classes}}">
    {{{PhoneInput}}}
    {{{PhoneSubmitButton}}}
    {{{EmailInput}}}
    {{{EmailSubmitButton}}}
    {{{PasswordInput}}}
    {{{AnoPasswordInput}}}
    {{{PasswordSubmitButton}}}
</div>