<div class="{{classes}}">
    {{{LeftButton}}}{{{RightButton}}}
        <ul class="category-bar__list">
            {{#each categories}}
                <li class="category-bar__li">
                    {{{this}}}
                </li>
            {{else}}
                <p>Can't load catogories</p>
            {{/each}}
        </ul>
</div>
