<a href="{{href}}" class="restaurant-list__restaurant {{classes}}">
    <div class="restaurant__image">
        {{{img}}}
    </div>
    <span class="restaurant__avg-time">
            {{avgDeliveryMinTime}} - {{avgDeliveryMaxTime}} min
    </span>
    <span class="restaurant__name">{{name}}</span>
    <br/>
    <span class="restaurant__rate">{{{rateImg}}}{{rate}}</span>
</a>
