<a href="{{href}}" class="{{classes}}">
    <div class="restaurant__image">
        {{{img}}}
        <span class="restaurant__avg-time">
            {{avgDeliveryMinTime}} - {{avgDeliveryMaxTime}} min
        </span>
    </div>
    {{name}}
    <br/>
    {{{rateImg}}}{{rate}}
</a>
