<main class="add-product-by-restaurant-view" id="view">
        <div id="profile-area__message" class="message">{{message}}</div>
        <h3 class="add-product-by-restaurant__title">Добавление продукта в<br>"{{name}}"</h3>
        {{{NameInput}}}
        {{{CostInput}}}
        {{{ImageInput}}}
        {{{SubmitButton}}}
</main>

