<div class="add-restaurant">
    <h3 class="add-restaurant__title">Добавить ресторан</h3>
    <label class="add-restaurant__label">Название</label>
    {{{nameInput}}}
    {{{nameError}}}
    <label class="add-restaurant__label">Комментарий</label>
    {{{descInput}}}
    {{{descError}}}
    <label class="add-restaurant__label">Изображение</label>
    {{{Image}}}
    {{{ImageError}}}
    <label class="add-restaurant__button" for="add-restaurant__image-input">
        📸</label>
    {{{submitButton}}}
    {{{generalError}}}
</div>
