<div class="add-restaurant">
    <h3 class="add-restaurant__title">Добавить ресторан</h3>
    {{{nameInput}}}
    {{{descInput}}}
    {{{RadiusInput}}}
    {{{AddressInput}}}
    {{{Image}}}
    {{{submitButton}}}
    {{{generalError}}}
</div>
