<div class="add-restaurant">
    <h3 class="add-restaurant__title">Добавить ресторан</h3>
    {{{nameInput}}}
    {{{descInput}}}
    {{{Image}}}
    <label class="add-restaurant__button" for="add-restaurant__image-input">
    📸</label>
    {{{submitButton}}}
    {{{generalError}}}
</div>
