<div class="{{classes}}">
    {{{LeftButton}}}
    {{{RightButton}}}
    <ul class="action-bar__list">
        {{#each actions}}
            <li class="action-bar__li">
                {{{this}}}
            </li>
        {{else}}
            <p>Can't load actions.</p>
        {{/each}}
    </ul>
</div>
