<div class="action-bar {{classes}}">
    {{{LeftButton}}}{{{RightButton}}}
    <div class="action-bar__list">
        {{#each actions}}
            <img src="{{this.src}}" class="action-bar__li" alt="{{this.alt}}">
        {{else}}
            <p class="message">Здесть должны быть акции.</p>
        {{/each}}
    </div>
</div>
