<div class="restaurant-view">
    <div class="main">
        {{{header}}}
        <div class="main-content">
            {{{restaurantBanner}}}
            <div class="restaurant-view__middle-bar">
                <span>Категории:</span>
                {{{InfoHref}}}
            </div>
            {{{categories}}}
            {{{products}}}
        </div>
    </div>
    {{{order}}}
</>

