<div class="restaurant-view">
    {{{Order}}}
    {{{OrderButton}}}
    {{{header}}}
    <main class="restaurant-view__main-area">
        <div class="restaurant-view__belt">
            <div class="restaurant-view__scrolled-area">
                {{{Banner}}}
                <div class="restaurant-view__info-bar">
                    <h2 class="restaurant-view__label">Блюда</h2>
                    {{{InfoHref}}}
                </div>
                {{{Categories}}}
                {{{Products}}}
            </div>
        </div>
    </main>
</div>


