<div class="restaurant-view">
    <div class="main">
        {{{header}}}
        <div class="main-content">
            {{{restaurantBanner}}}
            {{{categories}}}
            {{{products}}}
        </div>
    </div>
    {{{order}}}
</>

