<div class="{{classes}}">
    <div class="restaurant-feedback-card__first-line">
        <div class="restaurant-feedback-card__name">{{{Name}}}</div>
        <div class="restaurant-feedback-card__date-and-rate">
            <div class="restaurant-feedback-card__rate">{{{Rate}}}</div>
            <div class="restaurant-feedback-card__date">{{{Time}}}<br>{{{Date}}}</div>
        </div>
    </div>
    <div class="restaurant-feedback-card__second-line">{{{Text}}}</div>
</div>
