<div class="{{classes}}">
    <div class="restaurant-feedback-card__first-line">
        <div class="restaurant-feedback-card__name">{{{Name}}}</div>
        <div class="restaurant-feedback-card__rate">⭐&nbsp;{{{Rate}}}</div>
        <div class="restaurant-feedback-card__date">{{{Date}}}</div>
    </div>
    {{{Text}}}
</div>
