<div class="{{classes}}">
    <div class="order-checkout__title">Подтвердите заказ    🛵</div>
    <div class="order-checkout__confirm-paper">
        <div class="order-checkout__label">Телефон</div>
        {{{PhoneInput}}}
        {{{PhoneError}}}
        <div class="order-checkout__label">Адрес</div>
        {{{AddressInput}}}
        {{{AddressError}}}
        <div class="order-checkout__label">Email</div>
        {{{EmailInput}}}
        {{{EmailError}}}
        <div class="order-checkout__label">Комментарий</div>
        {{{CommentInput}}}
        {{{SubmitButton}}}
        {{{GeneralError}}}
    </div>
</div>
