<div class="{{classes}}">
    <h2 class="order-checkout__title">Подтвердите заказ 🛵</h2>
    {{{PhoneInput}}}
    {{{AddressInput}}}
    {{{EmailInput}}}
    {{{CommentInput}}}
    {{{SubmitButton}}}
    {{{GeneralError}}}
</div>
