<div class="{{classes}}">
    <div class="order-checkout__title">Order confirmation</div>
    <div class="order-checkout__confirm-paper">
        <div class="order-checkout__label">Phone</div>
        {{{PhoneInput}}}
        <div class="order-checkout__label">Address</div>
        {{{AdderssInput}}}
        <div class="order-checkout__label">Email</div>
        {{{EmailInput}}}
        <div class="order-checkout__label">Comment</div>
        {{{CommentInput}}}
        {{{SubmitButton}}}
    </div>
</div>