<div class="{{classes}}">
    <div class="order-checkout__title">Order confirmation    🛵</div>
    <div class="order-checkout__confirm-paper">
        <div class="order-checkout__label">Phone</div>
        {{{PhoneInput}}}
        {{{PhoneError}}}
        <div class="order-checkout__label">Address</div>
        {{{AddressInput}}}
        {{{AddressError}}}
        <div class="order-checkout__label">Email</div>
        {{{EmailInput}}}
        {{{EmailError}}}
        <div class="order-checkout__label">Comment</div>
        {{{CommentInput}}}
        {{{SubmitButton}}}
        {{{GeneralError}}}
    </div>
</div>