<main class="{{classes}}">
    {{{RestaurantBanner}}}
    <div class="restaurant-feedback__middle-bar">
        <h3>Отзывы:</h3>
        {{{BackHref}}}
    </div>

    <div class="restaurant-feedback__list-scroll-hider">
        <div class="restaurant-feedback__list">

            {{#if user}}
                {{{FeedbackForm}}}
            {{else}}
                <div class="restaurant-feedback__login-signup-invitation">
                    Чтобы оставить отзыв,
                    {{{LoginHref}}} или {{{SignupHref}}}
                </div>
            {{/if}}

            {{#each Feedback}}
                {{{this}}}
            {{else}}
                <h2 class="message">Ваш отзыв будет первым.</h2>
            {{/each}}
        </div>
    </div>
</main>
