<div class="{{classes}} login-field">
    <div class="login-field__title">Вход</div>
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{submitButton}}}
    {{{generalErrorField}}}
    {{{signupButton}}}
</div>
