<div class="{{classes}}">
    <div id="login-pretitle">Уже с нами?</div>
    <div class="login-field__title">Войти</div>
    <label for="login-field__email-input">Телефон</label>
    {{{phoneInput}}}
    {{{phoneErrorField}}}
    <label for="login-field__password-input">Пароль</label>
    {{{passwordInput}}}
    {{{passwordErrorField}}}
    {{{submitButton}}}
    {{{generalErrorField}}}
</div>
