<div class="{{classes}}">
    <span class="place-time-card__place-text">{{place}}</span>
    {{{changePlaceButton}}}
    {{{changeTimeButton}}}
    <span class="place-time-card__time-text">{{time}}</span>
</div>